<%= turbo_stream_from :campaigns %>
<section id="campaigns">
  <h2 class="text-3xl font-bold mb-4">Latest Campaigns</h2>
  <div class="grid grid-cols-2 gap-4">
    <% campaigns.each do |campaign| %>
      <%= render campaign %>
    <% end %>
  </div>
</section>
