<%= turbo_stream_from :campaigns %>
<section id="campaigns">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-1">
    <% campaigns.each do |campaign| %>
      <%= render campaign %>
    <% end %>
  </div>
</section>
