<p style="color: green"><%= notice %></p>
<%= render partial: 'campaigns/featured_campaign', locals: { campaign: @campaigns.first } %>
<%= render partial: 'campaigns/campaigns', locals: { campaigns: @campaigns } %>
