<header class="bg-orange-500 py-4">
  <div class="container mx-auto flex items-center justify-between">
    <h1 class="text-white text-2xl ">ektaka</h1>
    <nav>
      <ul class="flex space-x-4">
        <li><%= link_to "Campaigns", campaigns_path, class: "text-white hover:text-gray-200" %></li>
        <li><%= link_to "New campaign", new_campaign_path, class: "text-white hover:text-gray-200" %></li>
        <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "text-white hover:text-gray-200" %></li>
      </ul>
    </nav>
  </div>
</header>
