<header class="bg-slate-100 py-4 text-gray-500">
  <div class="container mx-auto flex items-center justify-between">
    <h1 class="text-2xl ">ektaka</h1>
    <nav>
      <ul class="flex space-x-4">
        <% if user_signed_in? %>
          <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "hover:text-gray-900" %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path, class: "hover:text-gray-900" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
